@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-black text-white overflow-x-hidden;
}

span {
	@apply block;
}

::-webkit-scrollbar {
	@apply w-1;
}

::-webkit-scrollbar-track {
	@apply bg-zinc-800;
}

::-webkit-scrollbar-thumb {
	@apply bg-blue-700;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-500;
}

::-webkit-calendar-picker-indicator {
	filter: invert(1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
